<section class="grid grid-cols-4 gap-2">
    @for (product of products; track product.id) {
    <!-- <div class="bg-zinc-900 p-2">
        <h2>{{ product.id }} - {{ product.name }}</h2>
        <p>Price: {{ product.price }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Category: {{ product.category }}</p>
        <img src="{{product.image}}" alt="" srcset="">
    </div> -->


    <div class="card w-80 bg-base-100 shadow-xl m-5">
        <figure><img src="{{product.image}}" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">
            {{ product.id }} - {{ product.name }}
            <div class="badge badge-secondary">NEW</div>
          </h2>
          <p>{{ product.description }}</p>
          <div class="card-actions justify-end">
            <div class="badge badge-outline">{{ product.category }}</div> 
            <div class="badge badge-outline">Products</div>
          </div>
        </div>
      </div>

    } @empty {
    <div class="col-span-4">
        <div class="flex justify-center items-center h-64">
            <p class="text-2xl text-gray-500">No products found</p>
        </div>
    </div>
    }
</section>