<section class="flex flex-1 justify-center items-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-2">
        <label class="input input-bordered flex items-center gap-2">
            Id
            <input type="text" id="id" formControlName="id" [(ngModel)]="product.id" />
        </label>
        <p *ngIf=""></p>

        <label for="name" class="input input-bordered flex items-center gap-2">
            Name
            <input type="text" id="name" formControlName="name" [(ngModel)]="product.name">
        </label>

        <label for="description" class="input input-bordered flex items-center gap-2">Description
            <input type="text" id="description" formControlName="description" [(ngModel)]="product.description">
        </label>

        <label for="price" class="input input-bordered flex items-center gap-2">
            Price
            <input type="number" id="price" formControlName="price" [(ngModel)]="product.price">
        </label>

        <select id="category" formControlName="category" class="select select-bordered w-full max-w-xs"
            [(ngModel)]="product.category">
            <option disabled selected>Select a category</option>
            <option value="man">Man</option>
            <option value="woman">Woman</option>
            <option value="unisex">Unisex</option>
        </select>

        <label for="image" class="input input-bordered flex items-center gap-2">Image
            <input type="text" id="image" formControlName="image" [(ngModel)]="product.image">
        </label>

        <button class="btn btn-success" type="submit">Create</button>
    </form>
</section>